/** Common defaults **/
a:focus {
  outline: none;
  text-decoration: underline;
  &:before {
    text-decoration: none;
  }
}
/** End of common defaults **/

// Links in help texts
p a {
  text-decoration: underline;
}

/** Dashboard Actions */
ul.imedge-dashboard-actions {
  margin: 0;
  padding: 0;
  min-width: 38em;
  max-width: 64em;

  li {
    list-style-type: none;

    text-align: left;
    display: inline-block;
    padding: 0;
    clear: both;
    width: 18em;
    min-width: 16em;
    vertical-align: top;

    a {
      i {
        font-size: 3em;
        display: block;
        float: left;
        line-height: 1em;
        margin-right: 0.3em;
      }

      &.state-critical i {
        color: @color-critical;
      }

      &.state-warning i {
        color: @color-warning;
      }

      &.state-ok i {
        color: @color-ok;
      }

      &.state-unknown i {
        color: @color-unknown;
      }

      &.state-pending i {
        color: @color-pending;
      }

      border-left: 0.5em solid transparent;
      padding: 1em;
      color: @text-color;
      font-weight: bold;
      display: block;
      text-decoration: none;
      min-height: 12em;

      overflow: hidden;

      &.active {
        color: inherit;
        border-color: @icinga-blue;
        background-color: @tr-active-color;
      }

      &:hover {
        background-color: @tr-hover-color;
        text-decoration: none;
      }

      &:active, &:focus {
        color: inherit;
        background-color: @tr-hover-color;
        outline: none;
      }
      &.disabled {
        color: @gray-light;
        pointer-events: none;
        cursor: default;
        p {
          color: @gray-light;
        }
      }
    }

    p {
      font-weight: normal;
      margin-bottom: 0.5em;
      padding-left: 4.5em;
      color: @text-color-light;
    }
  }
}

#layout.compact-layout.twocols ul.imedge-dashboard-actions,
#layout.minimal-layout ul.imedge-dashboard-actions,
.gipfl-compact-dashboard ul.imedge-dashboard-actions {
  max-width: unset;
  min-width: unset;
  li {
    width: 100%;
    a {
      height: auto;
      min-height: unset;
    }
    > a > i {
      font-size: 3em;
    }

    > a > p {
      padding-left: 4.5em;
    }
    margin-bottom: 0.5em;
  }
}
/** END of dashboard actions */

// NodesTable styling
table.nodes-table {
  th:first-of-type {
    min-width: 20%;
  }
  td:first-of-type {
    white-space: nowrap;
  }
}

// Introduced by NodesTable
table.table-with-state {
  border-collapse: separate;
  border-spacing: 0 2px;
  tbody tr {
    &.state-unknown {
      --state-color: @color-unknown;
    }
    &.state-pending {
      --state-color: @color-pending;
    }
    &.state-warning {
      --state-color: @color-warning;
    }
    &.state-critical {
      --state-color: @color-critical;
    }
    &.state-ok {
      --state-color: @color-ok;
    }
    border-bottom: 1px solid @gray-lightest;
    td:first-of-type {
      // border-left: 0.5em solid var(--state-color);
      box-shadow: inset 0.7em 0 var(--state-color);
      // border-bottom: 1px solid @gray-lightest;
      padding-left: 1.5em;
    }
    &:hover {
        box-shadow: 0.1em 0.1em 0.3em @gray-light;
    }
  }
}
// End of table-with-state

// Vendor logo
table.common-table, .controls {
  img.vendor-logo {
    float:right;
    max-height: 2.5em;
    max-width: 8em;
  }
}
.controls {
  img.vendor-logo {
    float:left;
    margin-right: 1em;
    max-height:4em;
    max-width: 10em;
  }
}
// End of vendor logo

// IP Address
.ip-address {
  padding-left: 2em; // space for flag
}
// End of IP address
